
body {background-color: #A5E8CD;}

.codigo{ width: 100px;}

.botao{ background-color: #58AA89; 
		border-color: #58AA89;
		}

.botao:hover{ background-color: #3B6B58; 
		border-color: #58AA89;
		}

.enviado{ 
 	background-color: #FF1616;
   	border-radius: 20px; 
   	animation: mover 4s;
  	opacity: 0;
}

@keyframes mover {
  	0% {
 		transform: translateY(0);
		opacity: 1;
	}
	20% {
	   transform: translateY(-50%);
	   opacity: 1; 
	}
	40% {
		transform: translateY(50%);
		opacity: 1;
	}
	60% {
		transform: translateY(-50%);
		opacity: 1; 
	}
	80% {
		transform: translateY(50%);
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 0;
	}
}